<html>
    
    <body>
        
        <h1>Catalog App</h1>
        <a href="#">login</a>

        <h1>{{item.name}}</h1>
        
        <p>{{item.description}}</p>

        <form action="{{url_for('catalogItemEdit', item_name=item.name)}}" method="GET">
            <input type="submit" value="Edit">
        </form>|<form action="{{url_for('catalogItemDelete', item_name=item.name)}}" method="GET">
            <input type="submit" value="Delete">
        </form>
    
    </body>
    
    </html>