<html>
    
    <body>

        <h1>Catalog App</h1>

        <h1>Categories</h1>
    
        {% for i in categories %}

            <a href="{{url_for('catalogItemLists', category_name=i.name)}}">{{i.name}}</a>
    
            <br>
    
        {% endfor %}

        <br><br>

        <h1>{{associatedCategory.name}} Items ({{associatedItems|length}} items)</h1>

        <!-- To show the selected category's items added or edited -->
        
        {% for i in associatedItems %}

            <a href="{{url_for('catalogItemDesc', category_name=associatedCategory.name, item_name=i.name)}}">{{i.name}}</a>
        
            <br>

        {% endfor %}
    
    </body>
    
    </html>